.tech {
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-x:hidden;
    padding-top: 20px;
  }
  &__block {
    text-align: center;
    font-size: 30px;
    color: white;
    & .front-end {
      animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    & .back-end {
      animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0px);
  }
}