.team {
  &__block {
    display: grid;
    grid-template-columns: 66% 33%;
  }
  &__collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
  }
}